@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: oklch(0.9851 0 0);
  --color-background-secondary: oklch(0.9683 0.0069 247.9);
  --color-surface-cards: oklch(1 0 0);
  --color-text-primary: oklch(0.2103 0.0059 285.89);
  --color-text-secondary: oklch(0.4419 0.0146 285.79);
  --color-border: oklch(0.9276 0.0058 264.53);
  --color-primary-accent: oklch(0.6231 0.188 259.81);
  --color-primary-hover: oklch(0.5461 0.2152 262.88);
  --color-secondary-accent: oklch(0.7116 0.1812 22.84);
  --color-secondary-hover: oklch(0.645 0.2154 16.44);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
}

.dark {
  --color-background: oklch(0.2077 0.0398 265.75);
  --color-background-secondary: oklch(0.2795 0.0368 260.03);
  --color-surface-cards: oklch(0.3717 0.0392 257.29);
  --color-text-primary: oklch(0.9683 0.0069 247.9);
  --color-text-secondary: oklch(0.7107 0.0351 256.79);
  --color-border: oklch(0.3477 0.0305 263.75);
  --color-primary-accent: oklch(0.7137 0.1434 254.62);
  --color-primary-hover: oklch(0.6231 0.188 259.81);
  --color-secondary-accent: oklch(0.7192 0.169 13.43);
  --color-secondary-hover: oklch(0.645 0.2154 16.44);
}

/*main grid layout*/
.content-grid {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(1184px, 100% - var(--gap) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [content-start] var(--content) [content-end]
    var(--full) [full-end];
}

.content-grid > * {
  grid-column: content;
}

.full {
  grid-column: full;
}
